
body {
    background-color: #f0f5ff;
    font-family: Arial, sans-serif;
    text-align: center;
}


h2 {
    color: #007bff;
    font-size: 24px;
    margin-top: 20px;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
    width: 300px;
    margin: 0 auto;
}


input[type="text"],
input[type="date"],
input[type="submit"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


form[action="busca-cliente"] {
    margin: 20px auto;
}


a[href="/aba1ListaCliente.jsp"] {
    display: block;
    margin: 20px auto;
}
